<html>
   
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script></head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/credentials/admin_home">MAC Grievance Principal Panel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/credentials/admin_home">Home</a>
          </li>
          {% if user.is_authenticated%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Principal Actions
            </a>
           
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin_view">View Grievances</a></li>
              <li><a class="dropdown-item" href="/credentials/sadd_user">Add Users</a></li>
              <li><a class="dropdown-item" href="/credentials/admin_manage_user">Manage Users</a></li>
              <!-- <li><a class="dropdown-item" href="#">Manage Department Admins</a></li> -->
              <li><a class="dropdown-item" href="/admin_feed_view">View FeedBacks</a></li>
           

            </ul>
          </li>
          <li class="nav-item">
            <a href="/credentials/admin_logout/" class="nav-link" aria-disabled="true">Logout</a>
          </li>
        </ul>

        {%else%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login as
          </a>
         
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  href="/credentials/login1/">Student</a></li>
            <li><a class="dropdown-item" href="/credentials/dep_login">Department</a></li>

          </ul>
        </li>

         {%endif%}
      </div>
    </div>
  </nav>
  {% block body %}

    {% endblock %} 

</body></html>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.pull-right {
float:right;
}

</style>