{% extends 'admin_nav.html' %}

{%block body %}

<div class="container mt-5">
  {%if user.is_authenticated %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Grievance ID</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Grievance Type</th>
            <th scope="col">Grievance Subject</th>
            <th scope="col">Grievance Description</th>
            <th scope="col">Edit Status</th>
           

          </tr>
        </thead>
        <tbody>
            {% for grieve in grievance%}
          <tr>
            <th style="text-align: center;" scope="row">{{forloop.counter}}</th>
            <td>{{grieve.name}}</td>
            <td>{{grieve.department}}</td>
            <td>{{grieve.grievance_type}}</td>
            <td>{{grieve.subject}}</td>
            <td>{{grieve.grievance_description}}</td>
            <td>{{grieve.status}}</td>
              <td><a class="btn btn-danger" href="/admin_update/{{grieve.id}}/">Update</a></td>
              <!-- <input type='hidden' name="id" value={{grieve.id}}> -->
            <br>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endif %}
</div>


{% endblock %}