{% extends 'base.html' %}
{%block body %}
{% include 'sidebar.html' %}

<!-- <div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
   <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Welcome</button>
   <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Edit Profile</button>
    <a href="/add/">Add Complaint</a>
   <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">View Complaint Status </button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Feedback</button>
  </div> -->
  {%if user.is_authenticated%}
<div class="container">
    <form action="" method="post" >
      {% csrf_token %}
      <!-- <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username"value="{{user.name}}">
        
      </div> -->
       
      <div class="form-row field-grievance_type">
            
             <div class="form-group">
             <div>
        
                <div class="flex-container">
                    
                        <label class="required" for="id_grievance_type">Grievance type:</label>
                        
                            <select class="form-control" name="grievance_type" required="" id="id_grievance_type">
<option value="" selected="">---------</option>

<option value="ClassRoom">ClassRoom</option>

<option value="Teacher">Teacher</option>

<option value="Management">Management</option>

<option value="College">College</option>

<option value="Other">Other</option>

</select>
                </div>            
                    
                </div>
            
        </div>
    
    
</div>
      <div class="form-group">
        <label for="name">Subject</label>
        <input type="text" class="form-control" name="subject" required>
      </div>
      <div class="form-group">
        <label for="email">Grievance Description</label>
        <input type="text" class="form-control" name="grievance_description" required>
      </div>
      
        <button type="reset" class="btn">Reset</button>
        <button type="submit" class="btn" style="float:right">Submit</button>
       </form>
       {%for msg in messages%}
       <div class="container"><h4>{{msg}}</h4></div>
       {%endfor%}
  </div>
 {%endif%}
  {% endblock %}