{% extends 'base.html' %}
{% block body %} 
{% include 'sidebar.html' %}
<div class="glass-container" ><br><br><br>
    <form class="glass-form" method="post">
        {% csrf_token %}
      <h1>Enter your Feedback</h1>
      <input type="text" placeholder="Enter Grievance Subject" name="feed_sub" required>
      <input type="text" placeholder="Enter your Feedback" name="feed_description" required>
      <input type="submit">
    </form>
    {%for msg in messages%}
    <h3>{{msg}}</h3>
    {%endfor%}
</div>

<style>

* {
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
.glass-container {
  position:absolute;
  height: 350px;
  width: 300px;
  margin: 0 auto;
  margin-left: 400px;
}
.glass-form {
  color: #fff;
  padding: 20px;
  height: auto;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  border-top: 1px solid rgba(225, 225, 225, 0.4);
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  border-right: thin solid rgba(225, 225, 225, 0.3);
  border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.1);
  place-content: center;
}
.form-footer {
  text-align: center;
}
.glass-form a {
  font-size: 12px;
  text-decoration: underline;
  color: #fff;
}
.glass-form > input {
  display: block;
  color: #000000;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  background: rgba(225, 225, 225, 0.1);
  border: none;
  border-top: 1px solid rgba(225, 225, 225, 0.3);
  box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);

}
.glass-form input:hover {
  background: rgb(218, 218, 218);
  transition: 0.5s;
}
input::placeholder {
  color: #6e6e6e;
}

</style>


{% endblock %}