{% extends 'base.html' %}
{%block body %}
<div class="container">
    <h2>Student Login Here</h2>
<form action="" method="POST">
    {%csrf_token%}
    <input type="text" name="username" placeholder="Enter your Username!"><br><br>
    <input type="password" name="password" placeholder="Enter your password!"><br><br>
    <input type="password" name="password1" placeholder="Re-enter your password!"><br><br>
    <input class="btn btn-danger" type="submit">
</form>
{%for msg in messages%}
{{msg}}
{%endfor%}
</div>
{%endblock %}
