{% extends 'base.html' %}
{%block body %}
<div class="container">
    <h2>Student Login Here</h2>
<form  method="POST">
    {%csrf_token%}
    <input class="form-control" type="text" name="username" placeholder="Enter your Username!"><br>
    <!-- <label class="required" for="id_department"></label> -->
    <!-- <select class="form-control" name="department" required="" id="id_department">
    <option value="" selected="">Select Department</option>
                                
    <option value="MCA">MCA</option>
                                
    <option value="MBA">MBA</option>
                                
    <option value="MSC">MSC</option>
                                
    </select><br> -->
    <input class="form-control" type="password" name="password" placeholder="Enter your password!"><br>
    <input class="form-control" type="password" name="password1" placeholder="Re-enter your password!"><br><br>
    <input class="btn btn-danger" type="submit">
</form>
{%for msg in messages%}
{{msg}}
{%endfor%}
</div>
{%endblock %}
