{% extends 'dep_nav.html' %}
{%block body %}

<div class="container"><br>
    <h2>Add User Here</h2>
<form  method="POST">
    {%csrf_token%}
    <input type="text" name="username" placeholder="Enter your Username!" required><br><br>
    <input type="text" name="firstname" placeholder="Enter your Firstname!" required ><br><br>
    <input type="text" name="lastname" placeholder="Enter your Lastname!" required><br><br>
    <input type="email" name="email" placeholder="Enter your College Mail!" required><br><br>
    <input type="password" name="password" placeholder="Enter your password!" required><br><br>
    <input type="password" name="password1" placeholder="Re-enter your password!" required><br><br>
    <!-- <input type="text" name="department" placeholder="Enter your Department!"><br><br> -->

    <label class="required" for="id_department">Department :</label>
                        
    <select class="form-control" name="department" required="" id="id_department">
    <option value="" selected="">---------</option>
                                
    <option value="MCA">MCA</option>
                                
    <option value="MBA">MBA</option>
                                
    <option value="MSC">MSC</option>
                                
    </select>
    <br>
    <input type="number" name="number" placeholder="Enter your Phone Number!"><br><br>
    <input type="submit">
</form>


{% if messages %}
 
    {% for message in messages %}
      {{ message }}
    {% endfor %}

{% endif %}
{%endblock %}
