{% extends 'dep_nav.html' %}

{%block body %}

<div class="container mt-5">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Department</th>
            <th scope="col">Phone Number </th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
       

          </tr>
        </thead>
        <tbody>
            {% for user in msc %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.department}}</td>
            <td>{{user.phone_number}}</td>
            <td><a class="btn btn-outline-success" href="#">Edit</a></td>
            <td><a class="btn btn-danger" href="{%url 'credentials:msc_delete' user.id%}">Delete</a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>


{% endblock %}