{% extends 'dep_nav.html' %}

{%block body %}
<!-- {% include 'sidebar.html' %} -->

<div class="container mt-5">
  {% if msc %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Grievance Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department </th>
            <th scope="col">Grievance Subject</th>
            <th scope="col">Grievance Type</th>
            <th scope="col">Grievance Description</th>
            <th scope="col">Grievance Status </th>
            


          </tr>
        </thead>
        <tbody>
            {% for grieve in msc%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{grieve.name}}</td>
            <td>{{grieve.department}}</td>
            <td>{{grieve.subject}}</td>
            <td>{{grieve.grievance_type}}</td>
            <td>{{grieve.grievance_description}}</td>
            <td>{{grieve.first_name}}</td>
            

          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endif %}
</div>


{% endblock %}